{{ partial "header" . }}
{{ partial "nav" . }}
<link href="mailto:strandlines@myself.com" rel="me">
<section class="section">
  <div class="container">
    {{- $pages := . -}}
    {{- if .IsHome -}}
    {{- $pages = .Site.RegularPages -}}
    {{- else -}}
    {{ $pages = .Pages -}}
    {{- end -}}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article>
      <div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      <h2 class="subtitle is-6 date"><a
href="{{ .Permalink}}">{{ .Date.Format "2 January 2006" }}</a></h2>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}{{ partial "taxonomies_count" . }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        {{ .Content }}
        
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
